[submodule "2012-10-caltech"]
	path = 2012-10-caltech
	url = ./
	branch = 2012-10-caltech.jekyll
[submodule "2012-10-lbl"]
	path = 2012-10-lbl
	url = ./
	branch = 2012-10-lbl.jekyll
[submodule "master"]
	path = master
	url = ./
	branch = jekyll
[submodule "2012-10-ucb"]
	path = 2012-10-ucb
	url = ./
	branch = 2012-10-ucb.jekyll
[submodule "2012-10-gmu"]
	path = 2012-10-gmu
	url = ./
	branch = 2012-10-gmu.jekyll
