[submodule "2012-10-caltech"]
	path = 2012-10-caltech
	url = git://github.com/wking/swc-workshop.git
	branch = 2012-10-caltech.jekyll
[submodule "2012-10-lbl"]
	path = 2012-10-lbl
	url = git://github.com/wking/swc-workshop.git
	branch = 2012-10-lbl.jekyll
[submodule "master"]
	path = master
	url = git://github.com/wking/swc-workshop.git
	branch = jekyll
